<div class="bootstrap-wrapper">
    <div class="container">
       
        <header id="header">
            <h1>Welcome To Lalitha,Therdha web application </h1>
        </header>
        <!-- Intro -->
        <div id="card" style="margin-top: -6%;">
        <article id="intro">
            <p> This is our first web application project,for online exam</p>
            <button routerLink="/signup" >Register Yourself To Start</button>
        </article>
        <!-- Benefits -->
        
        <section class="section">
            <img src="https://images.indianexpress.com/2020/04/exam-759.jpg">
           
        </section>
        </div>
       
        
      
       
      
          
    </div>
</div>
                
